logs
*.log

pids
*.pid
*.seed

coverage
.eslintcache

node_modules

.DS_Store

.idea
npm-debug.log.*

pnpm-lock.yaml

!/.eslintplugin
!.eslintrc.json

/images
/static

*.toml

/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

/.hugo_build.lock

/themes/kaigi/assets/main.css