<section class="mt-4">
    <blockquote>
        <p>
            {{ i18n "rsvp_required_notice" }}
        </p>
    </blockquote>
    <div class="mt-4">
        <a class="btn btn-primary" href="{{ .Params.event.in_person_rsvp_url }}">
            {{ i18n "rsvp_on_eventbrite" }}
        </a>
        <a class="btn mt-4 md:mt-0 md:ml-2 btn-primary" href="{{ .Params.event.in_person_rsvp_url2 }}">
            {{ i18n "rsvp_on_meetup" }}
        </a>
        <a class="btn mt-4 md:mt-0 md:ml-2 btn-secondary" href="{{ .Params.event.livestream_url }}">
            {{ i18n "live_stream_on_youtube" }}
        </a>
    </div>
</section>