<footer
    class="prose prose-base dark:prose-invert prose-gray text-light-text-secondary dark:text-dark-text-secondary mx-auto flex max-w-screen-2xl px-8">
    <div class="mr-auto">
        <div class="mb-4">
            <span>
                {{ i18n "questions_comments_suggestions" }} <a class="" href="{{ site.Params.contact_form_url }}">{{
                    i18n "contact_us" }}</a>.
            </span>
        </div>
        <div class="mb-4">
            <span>
                {{ i18n "all_assets_licensed_under" }}
                <a class=""
                    href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">Attribution-NonCommercial-ShareAlike
                    4.0
                    International</a>
                {{ i18n "license" }}.
            </span>
        </div>
        <div class="mb-4">
            <span>
                {{ i18n "source_code_available" }} <a class=""
                    href="https://github.com/BuiltInDetroit/builtindetroit.github.io">{{ i18n "on_github" }}</a>.
            </span>
        </div>
        <div class="mb-8">
            <span>{{ i18n "site_does_not_track" }}</span>
        </div>
    </div>

    <script>
        ////////////////
        // Theme
        ////////////////

        // base
        const htmlClass = document.documentElement.classList;
        setTimeout(() => {
            htmlClass.remove('not-ready');
        }, 10);

        // mobile menu
        const btnMenu = document.querySelector('.btn-menu');
        btnMenu.addEventListener('click', () => {
            htmlClass.toggle('open');
        });

        // dark theme
        const metaTheme = document.querySelector('meta[name="theme-color"]');
        const setDark = (isDark) => {
            if (logoDark || logoLight) {
                logoDark.classList.add('hidden');
                logoLight.classList.add('hidden');
                if (isDark) {
                    logoDark.classList.remove('hidden');
                } else {
                    logoLight.classList.remove('hidden');
                }
            }
            metaTheme.setAttribute('content', isDark ? '#000000' : '#ffffff');
            htmlClass[isDark ? 'add' : 'remove']('dark');
            console.log(isDark);
            sessionStorage.setItem('dark', isDark);
        };

        // logo
        let logoDark = document.getElementById('logo-dark') || null;
        let logoLight = document.getElementById('logo-light') || null;

        // init
        const darkScheme = window.matchMedia('(prefers-color-scheme: dark)');
        if (htmlClass.contains('dark')) {
            setDark(true);
        } else {
            const darkVal = sessionStorage.getItem('dark');
            setDark(darkVal ? darkVal === 'true' : darkScheme.matches);
        }

        // listen system
        darkScheme.addEventListener('change', (event) => {
            setDark(event.matches);
        });

        // manual switch
        const btnDark = document.querySelector('.btn-dark');
        btnDark.addEventListener('click', () => {
            setDark(sessionStorage.getItem('dark') !== 'true');
        });

        ////////////////
        // Share
        ////////////////
        if (navigator && navigator.clipboard) {
            var button = document.getElementById("share-btn");

            button.addEventListener('click', function () {
                navigator.clipboard.writeText(window.location.href).then(function () {
                    button.blur();

                    var oldInnerText = button.innerText;
                    button.innerText = 'Copied!';

                    setTimeout(function () {
                        button.innerText = oldInnerText;
                    }, 2000);
                }, function (err) {
                    console.log(err);
                });
            });
        }
    </script>
</footer>