<header class="mx-auto flex h-[4.5rem] max-w-screen-2xl px-8 lg:justify-center">
    <div class="relative z-50 mr-auto flex items-center">
        <a href="{{ `` | absURL }}">
            <img id="logo-light" class="h-10 hidden" src="{{ `site-logo-light.svg` | absURL }}"
                title="Logo for the site." />
            <img id="logo-dark" class="h-10 hidden" src="{{ `site-logo-dark.svg` | absURL }}"
                title="Logo for the site." />
        </a>
        <div class="btn-dark text-[0] ml-4 h-6 w-6 shrink-0 cursor-pointer [background:url(./theme.svg)_left_center/cover_no-repeat] dark:invert dark:[background-position:right]"
            role="button" aria-label="Dark"></div>
    </div>

    <div class="btn-menu relative z-50 -mr-8 flex h-[4.5rem] w-[5rem] shrink-0 cursor-pointer flex-col items-center justify-center gap-2.5 lg:hidden"
        role="button" aria-label="Menu"></div>

    <script>
        // base
        const htmlClass = document.documentElement.classList;
        setTimeout(() => {
            htmlClass.remove('not-ready');
        }, 10);

        // mobile menu
        const btnMenu = document.querySelector('.btn-menu');
        btnMenu.addEventListener('click', () => {
            htmlClass.toggle('open');
        });

        // dark theme
        const metaTheme = document.querySelector('meta[name="theme-color"]');
        const setDark = (isDark) => {
            logoDark.classList.add('hidden');
            logoLight.classList.add('hidden');
            if (isDark) {
                logoDark.classList.remove('hidden');
            } else {
                logoLight.classList.remove('hidden');
            }
            metaTheme.setAttribute('content', isDark ? '#000000' : '#ffffff');
            htmlClass[isDark ? 'add' : 'remove']('dark');
            console.log(isDark);
            sessionStorage.setItem('dark', isDark);
        };

        // logo
        let logoDark = document.getElementById('logo-dark');
        let logoLight = document.getElementById('logo-light');

        // init
        const darkScheme = window.matchMedia('(prefers-color-scheme: dark)');
        if (htmlClass.contains('dark')) {
            setDark(true);
        } else {
            const darkVal = sessionStorage.getItem('dark');
            setDark(darkVal ? darkVal === 'true' : darkScheme.matches);
        }

        // listen system
        darkScheme.addEventListener('change', (event) => {
            setDark(event.matches);
        });

        // manual switch
        const btnDark = document.querySelector('.btn-dark');
        btnDark.addEventListener('click', () => {
            setDark(sessionStorage.getItem('dark') !== 'true');
        });
    </script>

    <div
        class="nav-wrapper fixed inset-x-0 top-full z-40 flex h-full select-none flex-col justify-center pb-16 duration-fast-01 lg:static lg:h-auto lg:flex-row lg:!bg-transparent lg:pb-0 lg:transition-none">
        {{ $url := .RelPermalink }}
        {{ with site.Menus.main }}
        <nav class="lg:ml-12 lg:flex lg:flex-row lg:items-center lg:space-x-6">
            {{ range . }}
            <a class="text-light-text-primary dark:text-dark-text-primary link block text-center text-2xl leading-[5rem] lg:text-base font-bold"
                href="{{ .URL | relLangURL }}">{{ .Name
                }}</a>
            {{ end }}
        </nav>
        {{ end }}

        {{ with $.Scratch.Get "social_list" }}
        <nav class="mt-12 flex justify-center space-x-10 dark:invert lg:ml-12 lg:mt-0 lg:items-center lg:space-x-6">
            {{ range . }}
            <a class="h-8 w-8 text-[0] [background:var(--url)_center_center/cover_no-repeat] lg:h-6 lg:w-6"
                style="--url: url(./{{ . }}.svg)"
                href="{{ if eq . `rss` }}{{ `index.xml` | absURL }}{{ else if eq . `mastodon` }}{{ index site.Params . }}{{ else }}https://{{ . }}.com/{{ if eq . `linkedin` }}in/{{ end }}{{ index site.Params . }}{{ end }}"
                target="_blank" rel="{{ if eq . `rss` }}alternate{{ else }}me{{ end }}">
                {{ . }}
            </a>
            {{ end }}
        </nav>
        {{ end }}
    </div>
</header>