<!doctype html>

{{ $.Scratch.Delete "social_list" }}
{{ $.Scratch.Delete "avatar_url" }}

{{ $social_params := slice "github" "instagram" "linkedin" "mastodon"
"rss" }}
{{ range $social_params }}
{{ if isset site.Params . }}
{{ $.Scratch.Add "social_list" (slice .) }}
{{ end }}
{{ end }}

<html class="not-ready lg:text-base" style="" lang="{{ or site.LanguageCode site.Language.Lang }}">
{{ partial "head.html" . }}

<body class="duration-slow-02 ease-in-out">
    {{ partial "header.html" . }}

    <main
        class="prose prose-base dark:prose-invert prose-gray relative mx-auto min-h-[calc(100%-9rem)] max-w-screen-2xl p-8 pt-0">
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
</body>

</html>